<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688763276756-164ju2c6auhajfh6cbt65a7vkfdqs26j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688763276756-164ju2c6auhajfh6cbt65a7vkfdqs26j</string>
	<key>API_KEY</key>
	<string>AIzaSyCu7DrkJK0FOHuDLZE434DQTJDdTS4DZoE</string>
	<key>GCM_SENDER_ID</key>
	<string>688763276756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bcybernetics.PointOfScale</string>
	<key>PROJECT_ID</key>
	<string>bartenderdata</string>
	<key>STORAGE_BUCKET</key>
	<string>bartenderdata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688763276756:ios:7702951f0f0ae739969a41</string>
	<key>DATABASE_URL</key>
	<string>https://bartenderdata.firebaseio.com</string>
</dict>
</plist>